<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php" testdox="true" stopOnError="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Router">
            <directory>tests/src/core/router</directory>
        </testsuite>
    </testsuites>
</phpunit>
